.Info {
  .Info-content {
    padding: 40px 0;
    text-align: left;
    &-title {
      font-size: 1.5em;
      font-weight: 700;
      color: #35B09F;
    }
    p {
      text-indent: 2em;
      text-align: justify;
    }
  }
  .Info-picture {
  }
}
