.AppNavbar {
  margin-bottom: 0;
  border-radius: 0;
  background-image: none;
  border: none;
  background-color: transparent;
  .navbar-brand {
    color: white;
    margin-top: -1px;
    &:hover {
      color: #88DFD3;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    font-size: .8em;
    &:hover {
      color: #88DFD3;
    }
  }
}

.AppNavbar-icon {
  font-family: 'Pacifico', cursive;
}
