.App {
  text-align: center;
}

$headerColor: #333;

.App-header {
  background-color: $headerColor;
  padding: 45px 20px 80px 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.App-job {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  // margin: 20px 0 0 0;
  &-subtitle {
    font-family: 'Montserrat', sans-serif;
    a {
      color: white;
      text-decoration: none !important;
    }
  }
}

#skills {
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
