.AppNavbar {
  margin-bottom: 0;
  border-radius: 0;
  background-image: none;
  border-bottom: none;
  background-color: #333;
  color: white;
}

.AppNavbar-icon {
  font-family: 'Pacifico', cursive;
}
